/*============================== HERO SECTION ==============================*/
.home{
    margin: 1rem 0 0 0;
    width: 100%;

    &__container{
        display: grid;
        width: 100%;
        row-gap: 1.5rem;
        justify-content: center;
    }

    &__img{
        width: 17rem;
    }

    span{
        display: flex;
        line-height: 1.5;
        color: var(--title-clr);
        font-size: var(--big-font-size);
        font-weight: 600;
    }
}
