/*============================== SHOPPING SECTION ==============================*/
.shopping{
    margin: 3rem 0 0 0;

    &__container{
        display: grid;
        width: 100%;
        row-gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title{
        margin: .5em 0 0 0;
        line-height: 1.5;
        font-size: 1.2rem;
    }

    &__img{
        width: 17rem;
    }
}
