/*============================== GOOGLE FONTS ==============================*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

/*============================== VARIABLES CSS ==============================*/
:root{
    
    /* colores */
    --body-clr: #FFF;
    --nav-item-clr: #666;
    --btn-clr: #9e9e9e;
    --title-clr: #000;
    --txt-clr: #2c2c2c;

    /* fuente & tipografia */
    --header-font: 'Playfair Display SC', serif;
    --body-font: 'Playfair Display', serif;

    --biggest-font-size: 1.80rem;
    --big-font-size: 1.2rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .713rem;
    
    --semi-bold: 600;
    --bold: 700;
}
